# Ignore mechanism files but keep folder structure
data/mechanisms/*
!data/mechanisms/.gitkeep
!data/mechanisms/README.md

# Ignore input files but keep folder structure
data/input/*
!data/input/.gitkeep

# Output files
data/output/minor_species*
!data/output/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo 